<section>
  <div class="quickbar-button-row">
    <div class="quickbar-flex-container">
      <div class="quickbar-button-container">
        <button
          mat-fab
          color="primary"
          aria-label="Home Icon"
          (click)="changeWindow('board')"
        >
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="quickbar-button-container">
        <button
          mat-fab
          color="primary"
          aria-label="Menu Icon"
          (click)="changeWindow('profile')"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="quickbar-button-container">
        <button
          mat-fab
          color="warn"
          aria-label="Logout Icon"
          (click)="logout()"
          routerLink="/login"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
