.quickbar-label {
}

.quickbar-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.quickbar-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.quickbar-button-container {
  width: 120px;
  display: flex;
  justify-content: center;
}

.quickbar-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
