.profileCtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b5b2c2;
  margin: 0 3em 0 3em;
}

.cardCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.leaderboardCard {
  overflow: scroll;
  height: 30em;
}

.profileUsername {
  font-size: 2em;
}

.profileSubtitle {
  font-size: 1.3em;
}

.profileDescription {
  font-size: 1.2em;
}

.profileCard {
  width: 30em;
  justify-content: center;
}

.profilePicture {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  height: 5em;
  width: 5em;
}

.notesCtn {
  max-width: 20em;
  text-wrap: wrap;
}

.leaderboardList:nth-child(even) {
  background-color: #f2f2f2;
}
