<div class="cardCtn">
  <mat-card class="profileCard">
    <mat-card-header>
      <div mat-card-avatar class="profilePicture"></div>
      <mat-card-title class="profileUsername">Username</mat-card-title>
      <mat-card-subtitle class="profileSubtitle">
        Profile subtitle
      </mat-card-subtitle>
      <button mat-icon-button aria-label="Edit icon" (click)="editFlip()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content
      *ngIf="editMode == false; else editProfile"
      class="profileDescription"
    >
      {{ profileDescription }}
    </mat-card-content>
    <ng-template #editProfile>
      <mat-form-field>
        <textarea
          matInput
          type="text"
          [value]="profileDescription"
          (keyup)="onKey($event)"
          (keyup.enter)="editFlip()"
        >
        </textarea>
      </mat-form-field>
    </ng-template>
  </mat-card>
</div>
