<div class="loginCtn">

  <mat-card class="loginCard">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" class="loginForm">
        <mat-form-field appearance="outline">
          <input type="text" matInput placeholder="Username" formControlName="username">
          <mat-icon matPrefix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-icon matPrefix>key</mat-icon>
        </mat-form-field>

        <div class="button">
          <button type="submit" mat-button>Login</button>
        </div>

      </form>
      <button (click)="this.router.navigate(['/','register'])" mat-button>Register</button>
    </mat-card-content>
  </mat-card>
</div>